venv/
__pycache__/
*.py[cod]
data/
.Python
*.egg-info/
.eggs/
.env
KARE-data/
.venv/
.env
EMPOWER-MODEL/output/*.ckpt
EMPOWER-MODEL/output/best_pt1/
EMPOWER-MODEL/output/metrics.json
EMPOWER-MODEL/output/preds.txt
EMPOWER-MODEL/output_final/
EMPOWER-MODEL/output_rdpt/
EMPOWER-MODEL/output_rdpt_v2/